@font-face {
  font-family: Montserrat;
  src: url('../Assets/Fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, monospace;
}

p {
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.colors {
  color: #022e45;
  color: #053f5e;
  color: #115173;
  color: #ffd700;
}

.header-container {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #17223b;
}

.header-container__pages {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: auto;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header-container__pages_item {
  font-size: 1.3rem;
  font-family: Montserrat, monospace;
  margin: 0 10px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.active {
  color: #fff;
  opacity: 1;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.intro-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 92vh;
  background-image: url('../Assets/Images/background.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.info-block {
  width: auto;
  height: auto;
}

.info-block__description {
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.info-block__name {
  font-size: 3rem;
  text-align: center;
  border: 4px solid;
  padding: 5px;
  margin: 27px;
  font-family: Montserrat;
  opacity: 0;
  animation: getName 1s ease-in-out 0.5s forwards;
}

@keyframes getName {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.labs-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  height: 8vh;
  background-color: #17223b;
}

.labs-list_item {
  font-family: Montserrat;
  color: #ffd700;
  border: 3px solid #ffd700;
  background: none;
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.labs-list_item:hover {
  background: #ffd700;
  color: black;
}

@keyframes getBorder {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}

.intro-block__button {
  position: absolute;
  font-family: Montserrat;
  color: #ffd700;
  top: 90%;
  border: 3px solid #ffd700;
  background: none;
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.intro-block__button:hover {
  background: #ffd700;
  color: black;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  height: 5vh;
  background-color: black;
  font-family: Montserrat;
}

.socials-block {
  margin-left: 20px;
  display: flex;
  width:  auto;
  justify-content: space-evenly;
  align-items: center;
}

.socials-block__text {
  color: white;
}

.socials-block__list {
  display: flex;
  list-style: none;
}

.socials-block__list_item {
  width: 25px;
  padding: 0 5px;
}

.tel-block {
  margin-right: 20px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.tel-block_text {
  color: white;
  line-height: 100%;
  padding-right: 5px;
}

.tel-block__value {
  color: #ffd700;
}

.glow {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ffd700, 0 0 20px #ffd700, 0 0 25px #ffd700, 0 0 30px #ffd700, 0 0 35px #ffd700;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #ffe864, 0 0 20px #ffe864, 0 0 25px #ffe864, 0 0 30px #ffe864, 0 0 35px #ffe864, 0 0 40px #ffe864;
  }
}

@media (max-width: 550px) {
  .header-container__pages_item {
    font-size: 1.2rem;
  }

  .socials-block__text, 
  .tel-block_text {
    display: none;
  }

  .footer-wrapper {
    font-size: 0.8rem;
  }

  .form-container_message {
    width: 90%;
  }
}

.form-container {
  width: 100%;
  height: 95vh;
  background-color: #022e45;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.form-container__header {
  color: #ffd700;
}

.form-container__label {
  font-family: 'Courier New', Courier, monospace;
  display: inline;
}

.form-container__input {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14pt;
  color: white;
  border: none;
  border-bottom: 1px solid #ffd700;
  background-color: #022e45;
  display: inline;
}

.form-container__submit {
  font-family: Montserrat;
  color: #ffd700;
  border: 3px solid #ffd700;
  background: none;
  font-size: 1rem;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}